body {
      
      

}



h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	color: white;
	position: relative;
	top: 0;
	left: 0;

}

.back{
	background-image: url("img/line.png");
	background-repeat: repeat-x;

}